<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzllby.mapper.LabelMapper">
    <select id="queryAllLabels" resultType="com.wzllby.entity.LabelEntity">
        SELECT
        id,
        label_name AS LabelName,
        state,
        create_time AS createTime
        FROM
        db_article_babel
    </select>

    <insert id="addLabel" parameterType="com.wzllby.entity.LabelEntity">
        INSERT INTO db_article_babel(label_name,state,create_time) VALUES(#{labelName}, #{state}, #{createTime})
    </insert>

    <delete id="deleteLabel" parameterType="int">
        DELETE FROM db_article_babel WHERE id = #{key}
    </delete>

    <update id="changeState" parameterType="map">
        UPDATE db_article_babel SET state = #{state} WHERE id = #{key}
    </update>

    <select id="getLabelById" parameterType="int" resultType="com.wzllby.entity.LabelEntity">
        SELECT
        id,
        label_name AS LabelName,
        state,
        create_time AS createTime
        FROM
        db_article_babel
        WHERE id = #{key}
    </select>
</mapper>